{% extends 'base_admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: auto; width: 50%; font: 18px/1.5; background: white; border-radius: 10px; padding: 20px;}
        * {
            font-family: 'Fira Sans', sans-serif;
        }
        body{
            background-color: #f1ece3;
        }
    </style>

    <div class="container-fluid">
        <h1 class="text-center">Create new User</h1>
    </div>
    <div class="example-wrapper">

        {{ include('admin/_form.html.twig') }}

        {# <a href="{{ path('admin_index') }}">back to list</a> #}
    </div>
{% endblock %}
