{% extends 'base_user.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: auto; width: 50%; font: 18px/1.5; background: white; 
        border-radius: 10px; padding: 20px; margin-bottom: 20px;}
        * {
            font-family: 'Fira Sans', sans-serif;
        }
        body{
            background-color: #f1ece3;
        }
    </style>

    <div class="container-fluid" style="margin-top: 20px;">
        <h1 class="text-center">Edit User</h1>
    </div>

    <div class="example-wrapper shadow">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        {# <a href="{{ path('user_index') }}">back to list</a> #}
        <br>
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
