{# Visit Us Section #}
{# <h1>
    {{ node.title.value|raw }}
</h1> #}
<div class="container">
    <div class="row">
        <div class="col-6">
            {{ node.field_contact_details.value|raw }}
        </div>
        <div class="col-6">
            {{ node.field_opening_hours.value|raw }}
        </div>
    </div>
</div>
